<h1>Edit a Task</h1>

<form name="edit-task" action="update" method="task">
  <input type="hidden" name="_method" value="PUT" />

  <label for="thing">Title:</label>
  <input type="text" name="thing" id="thing" value="<%= @task[:thing] %> "/><br />

  <label for="description">Description:</label>
  <textarea name="description" id="description">
    <%= @task.description %>
  </textarea><br />

  <label for="status">Completed: </label>
  <input id="status" name="status" type="checkbox" value=true /><br />


  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <button type="submit">Submit Edits</button>

</form>
