body {
  background-color: #f2f2f2;
  font-family: 'Arial';
  position: absolute;
  width: 100%
}
/*YELLOW BAND @ TOP*/
header {
  /*width: 100%;*/
  background-color: #ffff80;
  margin-top: 10px;
  margin: 1%;
}

/*LINKS @ TOP*/
nav ul {
  font-size: 1rem;
}

li {
  display: inline;
  text-align: left;
}

a {
  color: black;
  padding: 3%;
}

form.button_to {
  display: inline-block;
}

img {
  float: none;
}
